# Import Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
# load
df = pd.read_csv('../data/encodedData.csv', index_col='car_ID')
df.drop(columns='Unnamed: 0', inplace=True)
df.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,1,0,0
2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,0,0,0,0,0,0,0,1,0,0
3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,...,0,0,0,0,0,0,0,1,0,0
4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,...,0,0,0,0,0,0,0,1,0,0
5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,...,0,0,0,0,0,0,0,1,0,0

# Spliting

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
features = df.drop(columns=['price'])
target = df.price

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(features, target, test_size=0.25, random_state=33)

In [12]:
xtrain['price'] = ytrain
xtest['price'] = ytest

In [13]:
xtrain.to_csv('../data/train.csv', index=False)
xtest.to_csv('../data/test.csv', index=False)